@mixin animatedbg {

    background: linear-gradient(185deg, #660000, #060606);
    background-size: 400% 400%;

    -webkit-animation: background 0s ease infinite;
    -moz-animation: background 0s ease infinite;
    animation: background 0s ease infinite;

}


